* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: "GraphikLCGRegular";
    src: url("../fonts/GraphikLCG-Regular.woff") format("woff");
}

@font-face {
    font-family: "GraphikLCGBlack";
    src: url("../fonts/GraphikLCG-Black.woff") format("woff");
}

body {
    color: #000000;
    font-family: GraphikLCGRegular, sans-serif;
}

.slick-list {
    background: linear-gradient(#e6e6ff, #b6b0ff);
}

.slick-list,
.slick-track {
    height: 100%;
}

.slider {
    width: 100%;
    height: 100%;
    counter-reset: slide;
}

.slider .slider__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px 32px 48px;
    background-size: contain;
    background-repeat: no-repeat;
}

.slider .slider__item_start::before {
    content: '';
    position: absolute;
    display: inline-block;
    height: 100vh;
    width: 100vw;
    background-image: url(../img/0.png);
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}

.slider .slider__item_userresult {
    background-image: url(../img/result.png);
}

.slider__item_userresult .score {
    background: url(../img/score.png);
    width: 160px;
    height: 340px;
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-family: GraphikLCGBlack, sans-serif    ;
}

.slider__item_userresult .score span {
    font-size: 16px;
}

.slider .slider__item_start,
.slider .slider__item_answerresult,
.slider .slider__item_map,
.slider .slider__item_userresult {
    background-color: #e6e6ff;
}

.slider__item_answerresult {
    background-position: center;
}

.slider__item_answerresult.correct1,
.slider__item_answerresult.correct2 {
    background-color: #c8fce5;
}

.slider__item_answerresult.correct1 {
    background-image: url(../img/true_1.png), linear-gradient(#c8fce5, #e6e6ff);
}

.slider__item_answerresult.correct2 {
    background-image: url(../img/true_1.png), linear-gradient(#c8fce5, #e6e6ff);
}

.slider__item_answerresult.wrong1 {
    background-image: url(../img/wrong_1.png), linear-gradient(#ffe9f2, #e6e6ff);
}

.slider__item_answerresult.wrong2 {
    background-image: url(../img/wrong_2.png), linear-gradient(#ffe9f2, #e6e6ff);
}

.slider .slider__item_map {
    justify-content: center;
}

.slider .map__wrapper {
    position: relative;
    height: 550px;
}

.map__wrapper::before {
    content: '';
    position: absolute;
    display: inline-block;
    height: 100vh;
    width: 100vw;
    background-image: url(../img/map_clear.png);
    top: -24px;
    left: -32px;
    background-repeat: no-repeat;
    background-size: 580px;
    background-position: left -29px top 0;
}

.marker {
    position: absolute;
    top: 30px;
    left: 32px;
    background-size: contain;
    background-image: url(../img/marker.png);
    width: 40px;
    height: 58px;
    z-index: 999999;
}

.map__button {
    line-height: 0;
    position: absolute;
    padding: 28px 24px;
    background: #FFFFFF;
    color: #ddd3ff;
    border: 4px solid #ddd3ff;
    border-radius: 50%;
}

.map__button::after {
    content: '';
    display: none;
    padding: 32px 32.5px;
    position: absolute;
    background-color: #5b2e86;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    top: -4px;
    left: -4px;
    border-radius: 50%;
}

.map__button.correct::after {
    display: inline-block;
    background-image: url(../img/correct.png);
    background-size: 27px;
}

.map__button.wrong::after {
    display: inline-block;
    background-image:url(../img/wrong.svg);
    background-size: 40px;
}

.map__button:nth-of-type(1) {
    top: 69px;
    left: 20px;
}

.map__button:nth-of-type(2) {
    top: 108px;
    left: 145px;
}

.map__button:nth-of-type(3) {
    top: 180px;
    left: 225px;
}

.map__button:nth-of-type(4) {
    top: 250px;
    left: 160px;
}

.map__button:nth-of-type(5) {
    top: 320px;
    left: 87px;
}

.map__button:nth-of-type(6) {
    top: 400px;
    left: 130px;
}

.map__button:nth-of-type(7) {
    top: 480px;
    left: 185px;
}

.slider__item_question {
    position: relative;
    counter-increment: slide;
}

.slider__item_question::before,
.slider__item_question::after {
    content: '';
    position: absolute;
    display: inline-block;
    background-image: url(../img/balloon.png);
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: balloon;
    animation-duration: 4.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    z-index: -1;
}

.slider__item_question::before {
    left: -15px;
    top: -30px;
    width: 75px;
    height: 155px;
}

.slider__item_question::after {
    right: -20px;
    top: 100px;
    width: 110px;
    height: 230px;
}

.slider__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slider__title {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    font-family: GraphikLCGBlack, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.slider__item_question .slider__title::before,
.slider__item_answerresult .slider__title span {
    display: none;
    content: counters(slide, "") " вопрос";
    align-self: flex-start;
    padding: 3px 10px;
    margin: 24px 0;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #5b2e86;
    border-radius: 15px;
}

.slider__item_start .slider__title {
 margin-top: 50px;
}

.scoretable {
    margin-bottom: 48px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.scoretable__content {
    display: flex;
    margin-bottom: 64px;
}

.scoretable__item {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.scoretable__name {
    font-family: GraphikLCGBlack, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

.scoretable__time {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.scoretable__content::before {
    content: '';
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex: 0 0 70px;
}

.scoretable__content:nth-of-type(1)::before {
    background-image: url(../img/first_place.png);
}

.scoretable__content:nth-of-type(2)::before {
    background-image: url(../img/second_place.png);
}

.scoretable__content:nth-of-type(3)::before {
    background-image: url(../img/third_place.png);
}



.slider__input {
    box-shadow: #000000 0px -2px 0px 0px inset;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    margin: 24px 0;
    font-size: 24px;
    outline: none;
    border-radius: 0;
}

.slider__input::placeholder    {
    color: #626274;
}


.slider__input.Error,
.slider__input.Error::placeholder    {
    color: #FF0000;
}

.slider__input.Error {
    box-shadow: #FF0000 0px -2px 0px 0px inset;
}

.slider__button-wrapper_square {
    display: flex;
    flex-wrap: wrap;
}

.slider__button {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
    padding: 16px;
    cursor: pointer;
}

.slider__button_long {
    margin-bottom: 24px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__button_square {
    flex: 0 46%;
    margin: 2%;
}

.slider__button_square::before {
    content: '';
    display: inline-block;
    padding-top: 50%;
    vertical-align: middle;
}

.slider__button_long:last-of-type {
    margin: 0;
}

@keyframes balloon {
	0% {
        transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
        animation-timing-function: linear
    }
	100% {
        transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,35,0,1);
    }
}

.js-button-gameresult {
    display: none;
}
